@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var wrapSize = ViewData["wrapSize"];
    var content = Model.GetPropertyValue<HtmlString>("mainContent");
    bool hasContent = Model.HasValue("mainContent");
}

@if( hasContent )
{
    <div class="o-wrap o-wrap--@wrapSize o-page-component o-page-component--text">
        @content
    </div>
}
