@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var specials = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("specialisms");

    if (specials == null)
    {
        return;
	}

	var headline = Model.GetPropertyValue<string>("specialismsHeadline");
	var specialismsPageId = Model.GetPropertyValue<int>("specialismsPage");
	var specialismsPage = Umbraco.TypedContent( specialismsPageId );

	var hasSpecialsPage = specialismsPage != null ? true : false;
}

<section class="o-section o-wrap o-wrap--x-large">
	@if( !string.IsNullOrEmpty(headline) )
	{
		<h2 class="u-text--dark u-alpha u-center-content">@headline</h2>
	}
	<div class="o-section__inner u-clearfix u-space-top">
		<ul class="c-link-list--grid">
			@foreach (var item in specials.ToContentSet())
		    {
				var specialName = item.GetPropertyValue<string>("specialismName");
				<li class="c-link-list__item">
					@if( hasSpecialsPage ) {
						<a href="@specialismsPage.Url" class="c-link-list__link">@specialName</a>
					} else {
						<span class="c-link-list__link">@specialName</span>
					}
				</li>
			}
		</ul>
	</div>
</section>
