@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var isModal = ViewData != null && ViewData["isModal"].ToString() == "true";
    var formSettings = Umbraco.TypedContent(1353);
    var submissionMessage = formSettings.HasValue("submissionMessage") ? formSettings.GetPropertyValue("submissionMessage") : "Thank you";
    var success = TempData["ValidationPasses"] != null;
}

@if (success)
{
    <div class="c-alert c-alert--success c-alert--fixed o-wrap--small">
        @submissionMessage
    </div>
}

@if (isModal)
{
    <section id="apply" class="c-cv-form white-popup mfp-with-anim mfp-hide">
        @Html.Action("RenderJobCvForm", "JobCv", new { jobId = Model.Id })
    </section>
}
else
{
    <section id="apply" class="c-cv-form">
        @Html.Action("RenderJobCvForm", "JobCv", new { jobId = Model.Id })
    </section>
}
