@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var isModal = ViewData != null && ViewData["isModal"].ToString() == "True";
}

@if (isModal)
{
    <section id="apply" class="c-cv-form white-popup mfp-with-anim mfp-hide">
        @Html.Action("RenderJobCvForm", "JobCv", new { jobId = Model.Id, legend = "Upload CV" })
    </section>
}
else
{
    <section id="apply" class="c-cv-form">
        @Html.Action("RenderJobCvForm", "JobCv", new { jobId = Model.Id, legend = "Upload CV" })
    </section>
}
