@using Umbraco.Web
@using Evodia.Core.Models
@inherits UmbracoViewPage<IPublishedContent>
@{
	var pods = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("sidebarPods");

	if (pods == null)
    {
        return;
    }
}

@foreach (var item in pods.ToContentSet())
{
	var headline = item.GetPropertyValue<string>("headline");

	var isHighlight = item.GetPropertyValue<bool>("highlightPod");
	var modifierClass = isHighlight ? "c-pod--highlight" : "c-pod--outline";

	var buttonModifier = isHighlight ? "c-button--secondary-invert" : "c-button--tertiary";

	var link = new LinkPickerModel( item.GetPropertyValue<string>("button") );

	<div class="c-pod @modifierClass u-center-content">
		@if( !string.IsNullOrEmpty(headline) )
		{
			<h2 class="u-zeta">Help us to find you the best job applying today</h2>
		}
		@if( !string.IsNullOrEmpty(link.Url) )
		{
			<a href="@link.Url" class="c-button @buttonModifier u-space-top" target="@link.Target">@link.Name ></a>
		}
	</div>
}
