@inherits UmbracoViewPage<IPublishedContent>
@{
	var headlineLeft = Model.GetPropertyValue<string>("coverHeadlineLeft");
	var headlineRight = Model.GetPropertyValue<string>("coverHeadlineRight");

	var hasLeft = !String.IsNullOrWhiteSpace(headlineLeft);
	var hasRight = !String.IsNullOrWhiteSpace(headlineRight);

	if (!hasLeft && !hasRight) {
		return;
	}
}

<section class="c-masthead c-masthead--large">
	<div class="c-masthead__content">
		<h2 class="c-masthead__headline u-alpha">
			@if (hasLeft) {
				<span class="u-text--blue">@headlineLeft</span>
			}
			@if (hasRight) {
				<span>@headlineRight</span>
			}
		</h2>
	</div>
</section>
