@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Umbraco.TypedContentAtRoot().First();
    var settings = homePage.Descendants("globalSettings").First();
}

<footer id="footer" class="c-footer" role="contentinfo">
	<div class="c-footer__inner o-section o-wrap o-wrap--x-large">
		<div class="u-clearfix">
			<div class="c-footer__col c-footer__col--first">
				<h2>Contact us</h2>
				@Html.Partial("~/Views/Partials/Page/ContactDetails.cshtml")
	        	@Html.Partial("~/Views/Partials/Components/SocialLinks.cshtml")
			</div>
			<div class="c-footer__col c-footer__col--last">
				<h2>Explore</h2>
				@Html.Partial("~/Views/Partials/Page/FooterNavigation.cshtml")
			</div>
		</div>
		<div class="c-footer__sub">
			<p class="c-footer__copyright">@(settings.GetPropertyValue<string>("copyrightDisclaimer"))</p>
		</div>
	</div>
</footer>
