@using Umbraco.Web
@using Umbraco.Web.Mvc
@inherits UmbracoViewPage<IPublishedContent>
@{
	var homePage = Umbraco.TypedContentAtRoot().First();
    var settings = homePage.Descendants("globalSettings").First();
    string siteName = settings.GetPropertyValue<string>("websiteName");
}

@**@
<header id="header" class="c-header o-wrap" role="banner">

	<div class="c-header__inner o-wrap--center o-wrap--x-large u-clearfix">
		<div class="c-header__group u-clearfix">
			<a href="/" class="c-header__logo-link">
				<img src="/assets/img/SITENAME-logo.svg" alt="@siteName" class="c-header__logo-image">
			</a>
			<button class="c-header__toggle-menu-button" id="toggle-menu" aria-haspopup="true" data-toggle="js-nav">
				<span class="o-icon--list" aria-hidden="hidden"></span>
				<span class="u-hide-text">Menu</span>
			</button>
		</div>

		<div class="c-header__supplementary u-hide--small u-hide--medium u-hide-large">
			<strong>01252 722500</strong>
			<a href="" class="c-button c-button--secondary-invert">Upload CV</a>
			@Html.Partial("~/Views/Partials/Components/SocialLinks.cshtml")
		</div>

		<div class="c-header__nav-wrap">
			@Html.Partial("~/Views/Partials/Page/MainNavigation.cshtml")
		</div>

    </div>
</header>
