@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
	var headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
}

<header class="c-hero o-section u-center-text o-wrap">
	<h1 class="c-hero__headline">@headline</h1>
	<div class="c-hero__description o-wrap--center o-wrap--small">
		@Model.GetPropertyValue("introduction")
	</div>
</header>
