/* ===========================================================

	# Colours

=========================================================== */

.u-text--dark {
	color: $dark-1;
}

.u-text--blue {
	color: $blue-1;
}

.u-text--white {
	color: $white;
}

.u-background--dark,
.u-background--blue,
.u-background--blue-2 {
	color: $white;

	h1,
	h2,
	h3,
	h4 {
		color: inherit;
	}
}

.u-background--dark {
	background-color: $dark-1;
}

.u-background--blue {
	background-color: $blue-1;
}

.u-background--blue-2 {
	background-color: $blue-2;
}
