/* ===========================================================

	# Consulting

=========================================================== */\
.s-consulting {}
// styles not being applied without the above

.s-consulting {

	.c-header {
		color: inherit;
		background: inherit;

		a {
			color: inherit;
		}

		.c-social__link {
			border-color: inherit;
		}
	}

	.c-header__logo-image {
		width: 20rem;
		height: 2.6rem;
	}

}

@include respond-min($mq-medium) {

	.s-consulting {

		.c-header__logo-image {
			width: 28.8rem;
			height: 3.8rem;
		}

	}

}

@include respond-max( $mq-large ) {

	.s-consulting {

		&.enhance {

			.c-header__toggle-menu-button {
				background-color: $sec;
			}

		}

		.c-nav--main {

			.c-nav__link {
				color: $white;

				&:hover {
					color: lighten( $pri, 40 );
				}

				&.is-active {
					background-color: $pri;
				}
			}
		}
	}

}

@include respond-min( $mq-large ) {

	.s-consulting {

		.c-nav--main {

			.c-nav__link {

				&.is-active {
					color: $white;
				}

			}

		}

	}

}
