/* ===========================================================

	# Home

=========================================================== */

.enhance.s-home {

	.o-page {
		padding-top: 0 !important;
	}

	.c-header {
		background-color: transparent;
	}

	.c-quote {
		color: $sec;
	}

}

@include respond-max( $mq-large ) {

	.s-home {

		.c-carousel--prev,
		.c-carousel--next {
			display: none;
		}

	}

}
