/* ===========================================================

	# Job

=========================================================== */

.s-job__content {

	h2,
	h3,
	h4 {
		color: $text-colour;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.3rem;
	}

}

@include respond-max( $mq-small ) {

	.s-job {

		.o-button-list {
			@include clearfix();

			.c-button {
				@include column( 1/2, $cycle: 2 );
				font-size: 1.4rem;
				text-align: center;
				margin-top: 0;
			}

		}

	}

}

@include respond-min( $mq-small ) {

	.s-job__header {

		.o-col--first {
			@include column( 7/10, $gutter: 5 );
		}

		.o-col--last {
			@include column( 3/10, $gutter: 5 );
		}

	}

}

@include respond-min-max( $mq-small, $mq-large ) {

	.s-job {

		.o-button-list {

			.c-button {
				font-size: 1.4rem;
			}

		}

	}

}
