/* ===========================================================

	# Mouse

=========================================================== */

@include respond-min( $mq-large ) {

	.t-mouse {
		position: absolute;
		right: 50%;
		bottom: 4rem;
		display: block;
		width: 13px;
		height: 24px;
		margin-left: -7px;
		border: 1px solid $white;
		border-radius: 12px;

		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 29%;
			left: 50%;
			width: 5px;
			height: 5px;
			margin: -4px 0 0 -3px;
			background: $white;
			border-radius: 50%;
			animation: mouseWheel 2.5s linear infinite;
		}

		&:after {
			content: "";
		    width: 1px;
		    background: $white;
		    height: 4rem;
		    position: absolute;
		    top: 100%;
		    left: 50%;
			margin-top: 1px;
		    margin-left: 0;
		}
	}

}
