@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var buttonText = Model.MacroParameters["buttonText"];
    var buttonLink = Model.MacroParameters["buttonLink"];
    var showButton = (string) buttonText != "" && (string) buttonLink != "";
}

@if( showButton )
{
    <button href="@buttonLink" class="c-button c-button--primary">@buttonText</button>
}
