/* ===========================================================

	# Button list

=========================================================== */

.o-button-list {

	.c-button {
		width: 100%;
		display: block;
	}

	.c-button + .c-button {
		margin-top: $line-height;
	}

}
