/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $background-colour;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}

.js-loading-target {
	transition: opacity $speed $ease;
}

.is-loading {
	cursor: wait;

	.js-loading-target {
		opacity: .4;
	}
}

.o-page__inner {
	flex: 1 1 auto;
	width: 100%;
}

@include respond-max( $mq-large ) {

	.o-page__sidebar {

		& + .o-page__content {
			margin-top: $line-height * 2;
		}
	}

	.o-page__content {

		& + .o-page__sidebar {
			margin-top: $line-height * 2;
		}
	}

}

@include respond-min( $mq-large ) {

	.s-layout-sidebar {

		.o-page__sidebar {
			@include column( 1.5/5, $gutter: 5 );
		}

		.o-page__content {
			@include column( 3.5/5, $gutter: 5 );
		}

	}

}
