@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}

<section class="o-section o-wrap o-wrap--large o-grid--two u-clearfix">
    @Html.Partial("~/Views/Partials/Components/GatewayLinks.cshtml")
</section>
