@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Model.AncestorOrSelf(1);
    var blog = homePage.Descendants("blog").First();
    var allCategories = blog.Descendants("categories").First().Descendants().OrderBy("Name");
}

@if( allCategories.Any() ) {
    <h3>Categories</h3>
    <ul class="c-link-list">
        @foreach( var category in allCategories ) {
            <li class="c-link-list__item">
                <a href="@category.Url" class="c-link-list__link @(category.IsAncestorOrSelf(Model) ? "is-active" : null)">@category.Name</a>
            </li>
        }
    </ul>
}