/* ===========================================================

	# Cover

=========================================================== */

.c-cover {
	color: $white;
	position: relative;
	overflow: hidden;
	background-color: $placeholder-colour;
	background-size: cover;
	background-position: center;

	&:after {
		content: "";
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: rgba( $pri, .7);

		.no-rgba & {
			background: url("/assets/img/000000-0.7.png") repeat;
		}
	}
}

.c-cover__content {
	position: relative;
	z-index: 1;
	padding: 4rem 4rem 10rem;
}

.c-cover__headline {
	color: inherit;
}

@include respond-max( $mq-medium ) {

	.c-cover__content {
		text-align: center;
	}

}

@include respond-min( $mq-medium ) {

	.c-cover {
		min-height: 58rem;
	}

	.c-cover:after,
	.c-cover__content {
		width: 55%;
	}

	.c-cover__content {
		padding: 2rem;
	}


	.c-cover__wrap {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}

	.c-cover__content {
		position: absolute;
		top: 30%;
		right: 0;
		left: 0;
	}

	.csstransforms {

		.c-cover__content {
			top: 40%;
			transform: translateY(-50%);
		}

	}



}

@include respond-min( $mq-large ) {

	.c-cover__content {
		padding: 2rem 4rem;
	}

}
