/* ===========================================================

	# Footer

=========================================================== */

.c-footer {
	color: $white;
	background-color: $sec;

	a {
		&:hover,
		&:focus {
			color: lighten( $pri, 15 );
		}
	}

	h1,
	h2,
	h3 {
		color: inherit;
	}

	.c-social {
		margin-top: $line-height;
	}

	.vcard__headline {
		padding-bottom: 0;
	}

	.o-link-list--grid {
		transform: translateX( -1rem );
	}

	.vcard + .vcard {
		margin-top: $line-height;
	}

	.vcard {

		br {
			display: none;
		}

	}

}

.c-footer__sub {
	margin-top: $line-height;
	border-top: 1px solid $dark-2;
	padding-top: 2rem;
}

@include respond-min( $mq-medium ) {

	.c-footer__copyright,
	.c-nav--footer {
		display: inline-block;
	}

	.c-footer__copyright {
		margin-right: 1rem;
	}

	.c-footer {
		.tel {
			margin-right: 1rem;
			display: inline;
		}

	}

}

@include respond-max( $mq-large ) {

	.c-footer__col--last {
		border-top: 1px solid $dark-2;
		margin-top: $line-height;
		padding-top: $line-height;
	}

}

@include respond-min( $mq-large ) {

	.c-footer__col {
		@include column( 1/2 );
	}

}
