/* ===========================================================

	# Header - compact

=========================================================== */

.enhance {

	.c-header__logo-image path {
		transition: fill $speed $ease;
	}

	.is-fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	.c-header {
		transition: color $speed $ease,
                    background $speed $ease,
                    box-shadow $speed $ease,
					transform $speed $ease;

        &.is-fixed.c-header--compact {
            color: $pri;
            background: $white;
			box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.15);

			.c-header__logo-image path {
				fill: $pri;
			}

            a {
				color: $pri;
            }

			.c-nav__link {
				color: $pri;

				&.is-active {
					color: $white;
				}
			}

			.c-nav__list--sub {
				.c-nav__link {
					color: $white;
				}
			}

            .c-button {
				color: $pri;
                border-color: $pri;

                &:hover,
                &:focus {
                    color: $white;
                    background-color: $pri;
                }
            }

		}
	}

}

@include respond-min( $mq-medium )  {

	.enhance {

		.c-header__logo-image {
			will-change: transform;
			transform-origin: left;
			transition: transform $speed $ease;
		}

		.c-header--compact {
			transform: translateY(-1.4rem);

			.c-header__logo-image {
				transform: scale(.85);
			}

		}


	}

}

@include respond-max( $mq-large) {

	.enhance {

		.c-header--compact {

			.c-header__toggle-menu-button {
				margin-bottom: -1px;
			}

		}

	}
}
