/* ===========================================================

	# Header

=========================================================== */

.c-header {
	color: $white;
	background-color: $blue-2;
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
}

.c-header__inner {
	border-bottom: .1rem solid rgba( $white, .3 );
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.c-header__logo-image {
	width: 9.3rem;
}

.c-header__toggle-menu-button {
	display: none;
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $white;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				background-color: $sec;
			}
		}

		.c-header__logo-link {
			position: relative;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-min( $mq-large ) {

	.c-header__logo-image {
		width: 15rem;
	}

	.c-header__group {
		float: left;
	}


	.c-header__nav-wrap,
	.c-header__supplementary {
		float: right;
	}

	.c-header__nav-wrap {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.c-header__supplementary {
		margin: 4rem 0 2rem;

		.c-button {
			padding: 1rem 1.5rem;
			font-weight: 500;
			margin-left: 1rem;
		}
	}

	.flexbox {

		.c-header__inner {
			display: flex;
		}

		.c-header__nav-wrap {
			flex-grow: 1;
			text-align: center;
		}

		.c-header__supplementary {
			order: 3;
		}

	}


}
