/* ===========================================================

	# Hero

=========================================================== */

.c-hero {
	color: $white;
	background-color: $blue-2;
	position: relative;

	.c-button {
		margin: $line-height auto 0;
	}
}

.c-hero__headline {
	color: inherit;
}

.enhance {

	.c-hero {
		.o-checkbox__label,
		.o-radio__label {
			color: inherit;
		}
	}

}
