/* ===========================================================

	# Hero

=========================================================== */

.c-hero {
	color: $white;
	background-color: $blue-2;
}

.c-hero__headline {
	color: $white;
}
