/* ===========================================================

	# Link list

=========================================================== */

.c-link-list {
	list-style: none;
}

.c-link-list__item {
	margin: 0;
}

.c-link-list__link {
	padding: 1rem;
	display: block;
	transition: color $speed $ease,
				background $speed $ease;

	&:hover,
	&:focus {
		background-color: $white;
	}
}


.c-link-list__item {

	&.is-active {

		.c-link-list__link {
			font-weight: $bold;
		}

	}

}
