/* ===========================================================

	# Footer nav

=========================================================== */

.c-nav--footer {

	.c-nav__list {
		list-style: none;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		padding: 1rem 0;
		display: block;
		transition: color $speed $ease;
	}
}

@include respond-min( $mq-small ) {

	.c-nav--footer {

		.c-nav__item {
			display: inline;

			&:before {
				content: "";
				width: .6rem;
				height: .6rem;
				border-radius: 50%;
				background-color: $white;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.c-nav__link {
			display: inline-block;
			padding: 1rem;
		}
	}

}
