/* ===========================================================

	# Nav

=========================================================== */

.c-nav--main {

	.c-nav__list {
		list-style: none;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		color: $white;
		padding: 1rem;
		display: block;
		transition: color $speed $ease,
					background $speed $ease;

		&:hover,
		&:focus {
			color: lighten( $pri, 40 );
		}

		&.is-active {
			background-color: $pri;
		}
	}

	.c-nav__item--parent .c-nav__list-sub {
		display: none;
	}

}

@include respond-max( $mq-small ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 1.5rem;
			}

		}

	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 2rem;
			}

		}

	}

}

@include respond-min-max( $mq-medium, $mq-large ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 4rem;
			}

		}

	}

}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__nav-wrap {
			position: absolute;
			right: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			text-align: center;
			background-color: $dark-1;
			transform: translateY(-1rem);
			transition: opacity $speed $ease,
						visibility $speed $ease,
						transform $speed $ease;
		}

		&.js-nav-open {

			.c-header__nav-wrap {
				opacity: 1;
				visibility: visible;
				transform: translateY(0rem);
			}

		}

	}

}

@include respond-min( $mq-large ) {

	.c-nav--main {
		position: relative;
		z-index: 10;

		.c-nav__item {
			display: inline;
			position: relative;
		}

		.c-nav__link {
			display: inline-block;
			padding: 1rem 1.5rem;
			border-radius: 2.5rem;
		}

		.c-nav__list--parent {
			position: relative;
		}

		.c-nav__item--parent .c-nav__link:after {
			content: "";
			width: 100%;
			height: 4rem;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
		}

		.c-nav__list--sub {
			min-width: 20rem;
			color: $white;
			background-color: $pri;
			position: absolute;
			left: 0;
			opacity: 0;
			visibility: hidden;
			margin-top: 0;
			transform: translateY(0rem);
			transition: opacity $speed $ease,
						visibility $speed $ease,
						transform $speed $ease;

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 1rem 1rem 1rem;
				border-color: transparent transparent $pri transparent;
				position: absolute;
				top: -1rem;
				left: 2rem;
			}

			.c-nav__item,
			.c-nav__link {
				display: block;
			}

			.c-nav__link {
				margin: 0;
				padding-top: 1rem;
				border-radius: 0;
				text-align: left;

				&:hover,
				&:focus {
					color: $white;
					background-color: darken( $pri, 15 );
				}

				&.is-active {
					color: $white;
					background-color: $sec;

					&:hover,
					&:focus {
						background-color: $sec;
					}
				}

			}

		}

		.c-nav__item--parent:hover {

			.c-nav__list--sub {
				opacity: 1;
				visibility: visible;
				transform: translateY(1.5rem);
			}

		}

	}

}
