/* ===========================================================

	# Pagination

=========================================================== */

.c-pagination {
	display: block;
	text-align: center;
	margin-top: $line-height;
}

.c-pagination__link {
	width: 4rem;
	height: 4rem;
	text-align: center;
	color: $grey-3;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1;
	display: inline-block;
	border-radius: 50%;

	&.is-active {
		color: $white;
		background-color: $pri;
		font-weight: $bold;
	}
}

.c-pagination__link--index {
	padding: 1rem;
}

.c-pagination__link--prev {
	margin-right: 2rem;
}

.c-pagination__link--next {
	margin-left: 2rem;
}

.c-pagination__link--prev,
.c-pagination__link--next,
.c-pagination__link--first,
.c-pagination__link--last {
	width: 4rem;
	height: 4rem;
	font-size: 1.4rem;
	position: relative;
	line-height: 1;
	border: 1px solid $grey-3;
	padding: 1.2rem 0;
	text-align: center;
	transition: color $speed $ease,
				border-color $speed $ease;

	&:hover,
	&:focus {
		border-color: $sec;
	}

	&.is-disabled {
		opacity: .4;
		cursor: default;

		&:hover,
		&:focus {
			color: $grey-3;
			border-color: $grey-3;
		}
	}

}

.c-pagination__link--first {
	margin-right: 1rem;
}

.c-pagination__link--last {
	margin-left: 1rem;
}

.c-pagination__nav--first {
	float: left;
}

.c-pagination__nav--next {
	float: right;
}


@include respond-max( $mq-small ) {

	.c-pagination__link--first,
	.c-pagination__link--last {
		display: none;
	}

	.c-pagination__link--prev,
	.c-pagination__link--next {
		margin: 0;
	}

}
