/* ===========================================================

	# Social links

=========================================================== */

.c-social__headline {
	font-weight: 500;
	display: inline-block;
	margin-right: 1rem;
}

.c-social__link {
	color: $white;
	font-size: 1.6rem;
	display: inline-block;
	padding: .7rem 1.1rem;
	margin-right: 1rem;
	border-radius: 2rem;
	border: 1px solid $white;
	transition: background $speed $ease,
				color $speed $ease,
				border-color $speed $ease;


	&:hover,
	&:focus {
		color: $dark-1;
		background-color: $white;
	}

}

/*
.c-social__link--facebook {

	&:hover,
	&:focus {
		color: $facebook;
	}
}

.c-social__link--twitter {

	&:hover,
	&:focus {
		color: $twitter;
	}
}

.c-social__link--google {

	&:hover,
	&:focus {
		color: $google;
	}
}

.c-social__link--instagram {

	&:hover,
	&:focus {
		color: $instagram;
	}
}

.c-social__link--linkedin {

	&:hover,
	&:focus {
		color: $linkedin;
	}
}

.c-social__link--pinterest {

	&:hover,
	&:focus {
		color: $pinterest;
	}
}

.c-social__link--youtube {

	&:hover,
	&:focus {
		color: $youtube;
	}
}

.c-social__link--vimeo {

	&:hover,
	&:focus {
		color: $vimeo;
	}
}

.c-social__link--flcikr {

	&:hover,
	&:focus {
		color: $flcikr;
	}
}

*/
