/* ===========================================================

	# Tabs

=========================================================== */

.no-enhance {

	.c-tabs__nav {
		border-left: .2rem solid $pri;
		margin-bottom: $line-height;

		&:before {
			content: "Contents";
			padding: 1rem;
			font-weight: $bold;
			font-size: 1.2rem;
		}
	}

	.c-tabs__nav-list {
		list-style: none;
	}

	.c-tabs__nav-item {
		margin: 0;
	}

	.c-tabs__nav-tab {
		padding: ( $line-height / 4 ) $line-height / 2;
		display: block;
	}

	.c-tabs__content-tab + .c-tabs__content-tab {
		margin-top: $line-height;
	}

}

.enhance {

	.js-tabs {
		opacity: 0;
		transition: opacity $speed $ease;

		&.js-tabs--loaded {
			opacity: 1;
		}
	}

	.c-tabs__nav {
		position: relative;
		overflow: hidden;
	}

	.c-tabs__nav-list,
	.c-tabs__nav-item {
		display: flex;
	}

	.c-tabs__nav-list {
		list-style: none;
		overflow-x: auto;
    	overflow-y: hidden;
    	width: 100%;
//    	width: calc( 100% - 6rem );
//		margin-left: 3rem;
	}

	.c-tabs__nav-item {
		margin: 0;
		flex-shrink: 0;

		&.is-active .c-tabs__nav-tab {
			cursor: default;
		}
	}

	.c-tabs__nav-tab {
		padding: 1.2rem;
		display: block;
		transition: color $speed $ease,
					background $speed $ease;
	}

	.c-tabs__page {
		padding: 1.2rem;
		position: absolute;
		top: 0;
		bottom: 0;
		transition: color $speed $ease,
					opacity $speed $ease;

		&.is-disabled {
			opacity: .1;
		}
	}

	.c-tabs__page--prev {
		left: 0;
	}

	.c-tabs__page--next {
		right: 0;
	}

	.c-tabs__nav {

		&.is-start {
			.c-tabs__page--prev {
				opacity: .1;
			}
		}

		&.is-end {
			.c-tabs__page--next {
				opacity: .1;
			}
		}

	}

	.c-tabs__content {
		position: relative;
		transition: height $speed $ease;
	}

	.c-tabs__content-tab {
		width: 100%;
		padding: 1rem;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity $speed $ease,
					visibility $speed $ease;

		&.is-active {
			opacity: 1;
			visibility: visible;
		}
	}

}

@include respond-min( $mq-medium ) {

	.enhance {

		.c-tabs__nav {
			width: calc( 100% + 8rem );
			margin-left: -4rem;
			padding-left: 4rem;
			padding-right: 4rem;
		}

		.c-tabs__page {

			&.is-disabled {
				opacity: 0;
			}

		}

	}

}

/* Theme */

.enhance {

	.c-tabs__nav {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.c-tabs__nav-list {
		align-items: flex-end;
		min-height: 4rem;
		padding: 0 2rem;
		background-color: $pri;
	}

	.c-tabs__nav-item {

		.c-tabs__nav-tab {
			color: $light-blue-2;
			padding: 3.2rem 2rem 2.6rem;
			will-change: background;
			border-radius: $border-radius $border-radius 0 0;
			transition: color $speed $ease,
						background $speed $ease,
						padding $speed $ease;

			&:before {
				content: "";
				width: 100%;
				height: .5rem;
				margin-bottom: .5rem;
				display: block;
				opacity: 0;
				background-color: $white;
				transition: opacity $speed $ease;
			}

			&:hover,
			&:focus {
				&:before {
					opacity: .5;
				}
			}
		}

		&.is-active .c-tabs__nav-tab {
			color: $white;
			font-weight: 900;

			&:before {
				opacity: 1;
			}
		}

	}

	.c-tabs__content-tab {
		padding: 3rem 4rem;
		background-color: $light-blue-1;
	}


}

@include respond-max( $mq-medium ) {

	.enhance {

		.c-tabs__nav {
			background-color: $pri;
		}

		.c-tabs__page {
			color: $white;
			opacity: 1;
		}

		.c-tabs__nav-list {
			padding: 0;
		}

		.c-tabs__nav-item {

			.c-tabs__nav-tab {
				padding-left: 0;
				padding-right: 0;
			}

			& + .c-tabs__nav-item {
				margin-left: 2rem;
			}

		}

	}

}

@include respond-min( $mq-medium ) {

	.enhance {

		.c-tabs__nav {
			width: calc( 100% + 6rem );
			margin-left: -3rem;
			padding-left: 3rem;
			padding-right: 3rem;
		}

	}


}
