/* ===========================================================

	# Tile

=========================================================== */

.c-tile {
	border-radius: $border-radius;
}

.c-tile__content {
	color: $text-colour;
	padding: 1.8rem 3rem;
	position: relative;
	z-index: 1;
	font-size: 1.4rem;
	line-height: 1.5;
}

.c-tile__link {
	width: 100%;
	display: block;
	background-color: $light-1;
	border-radius: 0 0 $border-radius $border-radius;
	transition: background $speed $ease;

	&:hover,
	&:focus {
		background-color: $light-2;
	}

}

.c-tile__name {
	padding-bottom: .7rem;
}

.c-tile--no-description {

	.c-tile__name {
		padding-bottom: 0;
	}

}

.c-tile__image-wrap {
	position: relative;
	background-position: center;
	background-size: cover;
	background-color: $placeholder-colour;
	overflow: hidden;
	border-radius: $border-radius $border-radius 0 0;
	@include pad-top(210,90);
}

.c-tile__image {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
