<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

</appSettings>

<!--
    If you want to get custom appSettings properties
    in your Controllers use the snippet below:

    var appSettings = System.Configuration.ConfigurationManager.AppSettings;
    var customProp = appSettings["CustomAppSettingsValue"];
-->
