<rules>
    <rule name="Evodia robots.txt" enabled="true" stopProcessing="true">
        <match url="robots.txt" />
        <action type="Rewrite" url="/robots.txt" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?evodia.co.uk" />
        </conditions>
    </rule>
    <rule name="Evodia Consulting robots.txt" enabled="true" stopProcessing="true">
        <match url="robots.txt" />
        <action type="Rewrite" url="/robots-consulting.txt" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?evodia.consulting" />
        </conditions>
    </rule>
</rules>