@using Evodia.Data.Models;
@inherits UmbracoViewPage<IEnumerable<VacancyModel>>
@{
    var paging = Paging.GetPages(Model.Count(), 20);
}

<nav class="c-pagination">
    <a href="#">Page 1</a>
    <a href="#">Page 2</a>
    <a href="#">Page 3</a>
</nav>