@inherits UmbracoViewPage<IPublishedContent>
@{
	Layout = "Master.cshtml";

	var intro = Model.GetPropertyValue<string>("introduction");
}

<main class="o-page__inner" role="main">
	@Html.CachedPartial("~/Views/Partials/Consulting/HomeMasthead.cshtml", Model, 3600)

	@if (!String.IsNullOrWhiteSpace(intro)) {
		<div class="o-section--top o-wrap o-wrap--medium u-delta">
			@Html.Raw(intro)
		</div>
	}
	@Html.CachedPartial("~/Views/Partials/Consulting/FeaturedLinks.cshtml", Model, 3600)
</main>
