@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
    var headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
}

<main class="o-page__inner" role="main">
	<section id="mapCanvas" class="c-map c-map--21-9"></section>
	<section class="o-section o-wrap o-wrap--large o-col--two-one u-clearfix">
		<div class="o-col o-col--first">
		    <h1>@headline</h1>
		    @Html.Action("RenderContactForm", "ContactForm")
		</div>
		<div class="o-col o-col--last u-space-top--large">
			@Html.Partial("~/Views/Partials/Page/ContactDetails.cshtml")
		</div>
	</section>
</main>
