@using System.Net.Mail
@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";

    string errorPath = Request.QueryString["aspxerrorpath"];
}

<section class="o-section s-free-content">
	@if( !string.IsNullOrEmpty(errorPath) )
	{
		<div class="o-wrap o-wrap--small o-page-component">
	    	<p>Path @errorPath just  broke the internet. Just kidding, but something unexpeted did happen.</p>
		</div>
	}
	@Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")
</section>
