@using System.Net.Mail
@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";

    string errorPath = Request.QueryString["aspxerrorpath"];
}

<section class="o-section s-free-content u-clearfix">
	@Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")
</section>
