@using System.Globalization
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

    var ci = new CultureInfo("en-GB");

    System.Threading.Thread.CurrentThread.CurrentCulture = ci;
    System.Threading.Thread.CurrentThread.CurrentUICulture = ci;

    var keywords = TempData["Keywords"];
    var titleOnly = TempData["TitleOnly"];
}

<div class="o-section o-wrap o-wrap--large">
    <h3>keywords: @keywords</h3>
    <p>titleOnly: @titleOnly</p>
</div>
<div id="jobsTarget" class="o-section o-wrap o-wrap--large">
    
</div>