@inherits UmbracoViewPage<IPublishedContent>
@{
	Layout = "Master.cshtml";

    var searchQueryString = Request.QueryString["search"];

    var ci = new CultureInfo("en-GB");

    System.Threading.Thread.CurrentThread.CurrentCulture = ci;
    System.Threading.Thread.CurrentThread.CurrentUICulture = ci;

    var fileName = "WebCruitXML_20161109150510_JO0000070114.xml";
    var splitFileName = fileName.Split('_');
    var dateString = splitFileName[1].Trim();
    var pattern = "yyyyMddHHmmss";
    var jobPostDate = DateTime.ParseExact(dateString, pattern, ci);
    var jobRef = splitFileName[2];

    <h1>@dateString</h1>
    <h1>@jobRef</h1>
    <h1>@jobPostDate</h1>
}

<div class="o-section o-wrap o-wrap--large">
    <h1>Jobs</h1>
    @using (Html.BeginForm("GetFilteredJobs","JobsSurface"))
    {
        <div>
            <label for="keywords">Job title</label>
            <input type="text" placeholder="Search anything here.." name="keywords" value="@searchQueryString" />
        </div>
        <input class="c-button c-button--primary" id="submit" type="submit" value="Submit" />
    }
</div>
