@using System.Globalization
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

    var ci = new CultureInfo("en-GB");

    System.Threading.Thread.CurrentThread.CurrentCulture = ci;
    System.Threading.Thread.CurrentThread.CurrentUICulture = ci;
}

<div class="o-page__inner o-wrap o-wrap--x-large u-clearfix s-layout-sidebar o-section">
    <aside class="o-page__sidebar c-nav c-nav--sub" role="navigation">
        @Html.Action("RenderFullSearchForm", "SearchForm", new {keywords = TempData["Keywords"], titleOnly = TempData["TitleOnly"]})
    </aside>
    <main class="o-page__content o-page__content--sidebar-layout s-free-content">
        <div class="c-alert c-alert--info">
            <p class="u-delta">Results: <strong class="js-count"></strong></p>
        </div>
        <div id="jobs-target"></div>
        <div id="pagination-target" class=""></div>
    </main>
</div>



@*<div class="o-page__inner o-wrap o-wrap--x-large u-clearfix s-layout-sidebar o-section">
    <aside class="o-page__sidebar c-nav c-nav--sub" role="navigation">
        @Html.Action("RenderFullSearchForm", "SearchForm", new { keywords = TempData["Keywords"], titleOnly = TempData["TitleOnly"] })
    </aside>
    <main class="o-page__content o-page__content--sidebar-layout s-free-content">
        <div id="jobs-target"></div>
    </main>
</div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="~/Scripts/Voyager.js"></script>
<script>
	jQuery(document).ready( function() {
	    var jobsTarget = '#jobs-target',
	        navTarget = "#pagination-target";

		Voyager.init('@Url.Action("GetFilteredJobs", "JobsSurface")', jobsTarget, navTarget);
	});
</script>
