@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}
<section class="o-section o-wrap o-wrap--small">
	@Html.Partial("~/Views/Partials/Components/Sitemap.cshtml")
</section>
