@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
    string headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
}

<section class="o-section s-free-content">
	<div class="c-accordion js-accordion o-page-component o-wrap o-wrap--small">
		<h2 id="accordion-header-1" class="c-accordion__header js-accordion__header">Title 1</h2>
		<div id="accordion-panel-1" class="c-accordion__panel js-accordion__panel">
			<div class="c-accordion__panel-inner">
				<p>Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</div>
		</div>
		<h2 id="accordion-header-2" class="c-accordion__header js-accordion__header">Title 2</h2>
		<div id="accordion-panel-2" class="c-accordion__panel js-accordion__panel">
			<div class="c-accordion__panel-inner">
				<p>Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
		</div>
		<h2 id="accordion-header-3" class="c-accordion__header js-accordion__header">Title 3</h2>
		<div id="accordion-panel-3" class="c-accordion__panel js-accordion__panel">
			<div class="c-accordion__panel-inner">
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
			</div>
		</div>
	</div>


	@Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")


	<div class="o-wrap o-wrap--small">

		<table>
		<thead>
		<tr>
			<td>Title 1</td>
			<td>Title 2</td>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>Value</td>
		<td>Value</td>
		</tr>
		<tr>
		<td>Value</td>
		<td>Value</td>
		</tr>
		</tbody>
		</table>

	</div>

</section>
@*
<!-- note: there's a scope on the wrap -->
<div class="o-page__inner o-wrap o-wrap--x-large u-clearfix s-layout-subnav">
	<main class="o-page__content o-page__content--sidebar-layout s-free-content">
		<h1 class="o-page__heading">@headline</h1>
		@Html.Partial("Page/Content")
	</main>
	<nav class="o-page__sidebar c-nav c-nav--sub">
		@Html.Partial("Page/Subnav")
	</nav>
</div>
*@
