@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}

<section class="o-section s-free-content">
	@Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")
</section>
