@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
    string headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
}

<section class="o-section s-free-content">
	@Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")


	<div class="o-wrap o-wrap--small">

		<table>
		<thead>
		<tr>
			<td>Title 1</td>
			<td>Title 2</td>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>Value</td>
		<td>Value</td>
		</tr>
		<tr>
		<td>Value</td>
		<td>Value</td>
		</tr>
		</tbody>
		</table>

	</div>

</section>
@*
<!-- note: there's a scope on the wrap -->
<div class="o-page__inner o-wrap o-wrap--x-large u-clearfix s-layout-subnav">
	<main class="o-page__content o-page__content--sidebar-layout s-free-content">
		<h1 class="o-page__heading">@headline</h1>
		@Html.Partial("Page/Content")
	</main>
	<nav class="o-page__sidebar c-nav c-nav--sub">
		@Html.Partial("Page/Subnav")
	</nav>
</div>
*@
